@model AsyncAndEvents.Models.HomeModel

@{
    ViewBag.Title = "FaceOfAsync";
}

<h2>FaceOfAsync</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.TextBoxFor(m => m.StringInput)
    <input type="submit" value="Submit" />
}

<p>The reverse of <span style="color:blue;">@Html.DisplayTextFor(m => m.StringInput)</span> is <span style="color:forestgreen;">@Html.DisplayTextFor(m => m.StringData)</span></p>
<p>The reverse of <span style="color:blue;">@Html.DisplayTextFor(m => m.StringInput)</span> is <span style="color:forestgreen;">@Html.DisplayTextFor(m => m.StringData2)</span></p>
<p>The reverse of <span style="color:blue;">@Html.DisplayTextFor(m => m.StringInput)</span> is <span style="color:forestgreen;">@Html.DisplayTextFor(m => m.StringData3)</span></p>
<p>The reverse of <span style="color:blue;">@Html.DisplayTextFor(m => m.StringInput)</span> is <span style="color:forestgreen;">@Html.DisplayTextFor(m => m.StringData4)</span></p>

